In [1]:
import os
import sys
os.environ["PYSPARK_PYTHON"]='/opt/anaconda/envs/bd9/bin/python'
os.environ["SPARK_HOME"]='/usr/hdp/current/spark2-client'
os.environ["PYSPARK_SUBMIT_ARGS"]='--num-executors 2 pyspark-shell'

spark_home = os.environ.get('SPARK_HOME', None)
if not spark_home:
    raise ValueError('SPARK_HOME environment variable is not set')

sys.path.insert(0, os.path.join(spark_home, 'python'))
sys.path.insert(0, os.path.join(spark_home, 'python/lib/py4j-0.10.7-src.zip'))
exec(open(os.path.join(spark_home, 'python/pyspark/shell.py')).read())

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.4.7
      /_/

Using Python version 3.6.5 (default, Apr 29 2018 16:14:56)
SparkSession available as 'spark'.

In [2]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark import Row
import json

conf = SparkConf()

spark = (SparkSession
         .builder
         .config(conf=conf)
         .appName("test")
         .getOrCreate())

In [3]:
spark

### Смотрим что там в файлах

In [ ]:
!hdfs dfs -ls /labs/slaba03/ | awk '{print $8}' | xargs -I {} bash -c 'echo {}; hdfs dfs -head {} | sed -n "1,5p"'

### Определяем разделитель

In [ ]:
!hdfs dfs -head /labs/slaba03/laba03_items.csv | xxd | sed -n '1,5p'

In [4]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, TimestampType, ArrayType

In [5]:
df_item = spark.read \
        .format("csv") \
        .option("header", "true") \
        .option("delimiter", "\t") \
        .option("inferSchema", "true") \
        .load('/labs/slaba03/laba03_items.csv')
print('Count ' + str(df_item.count()))
df_item.show(2, True, True)
df_item.printSchema()

Count 635568
-RECORD 0-------------------------------------------
 item_id                     | 65667
 channel_id                  | null
 datetime_availability_start | 1970-01-01 03:00:00
 datetime_availability_stop  | 2018-01-01 03:00:00
 datetime_show_start         | null
 datetime_show_stop          | null
 content_type                | 1
 title                       | на пробах только ...
 year                        | 2013.0
 genres                      | Эротика
 region_id                   | null
-RECORD 1-------------------------------------------
 item_id                     | 65669
 channel_id                  | null
 datetime_availability_start | 1970-01-01 03:00:00
 datetime_availability_stop  | 2018-01-01 03:00:00
 datetime_show_start         | null
 datetime_show_stop          | null
 content_type                | 1
 title                       | скуби ду: эротиче...
 year                        | 2011.0
 genres                      | Эротика
 region_id                   | null
only showing top 2 rows

root
 |-- item_id: integer (nullable = true)
 |-- channel_id: double (nullable = true)
 |-- datetime_availability_start: timestamp (nullable = true)
 |-- datetime_availability_stop: timestamp (nullable = true)
 |-- datetime_show_start: timestamp (nullable = true)
 |-- datetime_show_stop: timestamp (nullable = true)
 |-- content_type: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- year: double (nullable = true)
 |-- genres: string (nullable = true)
 |-- region_id: double (nullable = true)

In [6]:
df_item.rdd.getNumPartitions()

2

In [7]:
df_item = df_item.repartition(6)

In [8]:
df_train = spark.read \
        .format("csv") \
        .option("header", "true") \
        .option("delimiter", ",") \
        .option("inferSchema", "true") \
        .load('/labs/slaba03/laba03_train.csv')
print('Count ' + str(df_train.count()))
df_train.show(2, True, True)
df_train.printSchema()

Count 5032624
-RECORD 0---------
 user_id  | 1654
 item_id  | 74107
 purchase | 0
-RECORD 1---------
 user_id  | 1654
 item_id  | 89249
 purchase | 0
only showing top 2 rows

root
 |-- user_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- purchase: integer (nullable = true)

In [9]:
df_train.rdd.getNumPartitions()

2

In [10]:
df_train = df_train.repartition(6)

In [11]:
df_test = spark.read \
        .format("csv") \
        .option("header", "true") \
        .option("delimiter", ",") \
        .option("inferSchema", "true") \
        .load('/labs/slaba03/laba03_test.csv')
print('Count ' + str(df_test.count()))
df_train.show(2, True, True)
df_train.printSchema()

Count 2156840
-RECORD 0----------
 user_id  | 903040
 item_id  | 94901
 purchase | 0
-RECORD 1----------
 user_id  | 938142
 item_id  | 88705
 purchase | 0
only showing top 2 rows

root
 |-- user_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- purchase: integer (nullable = true)

In [12]:
df_test.rdd.getNumPartitions()

2

In [13]:
df_test = df_test.repartition(6)

## Платно/Бесплатно

### Платно

In [14]:
dfp = df_item.filter(df_item.content_type == 1)

Дубликатов item_id нет

In [ ]:
dfp.select(dfp.item_id).count(), dfp.select(dfp.item_id).distinct().count()

In [ ]:
pids = [row.item_id for row in dfp.select(dfp.item_id).collect()]

In [ ]:
len(pids)

In [ ]:
tids = [row.item_id for row in df_train.select(df_train.item_id).distinct().collect()]

In [ ]:
len(tids)

In [ ]:
teids = [row.item_id for row in df_test.select(df_test.item_id).distinct().collect()]

In [ ]:
len(teids)

In [ ]:
i = 0
for p1, t, te in zip(sorted(pids), sorted(tids), sorted(teids)):
    i = i + 1
    if p1 != t or t != te:
        print("Лажа")
        break
i

## Вывод из всего этого? Можно дропнуть в датасете все бесплатные итемы

In [14]:
df_item = df_item.filter(df_item.content_type == 1)

In [ ]:
df_item.count()

### Дропаем все итемы без жанров ?

In [ ]:
df_item[F.isnull(df_item.genres)].select(df_item.item_id, df_item.year, df_item.title).collect()

Слишком популярные сериалы без жанров, нужно проставить им вручную жанры, но сначала нужно обработать дубликаты

In [ ]:
df_item.select(df_item.title).count(), df_item.select(df_item.title).distinct().count()

In [ ]:
df_item\
    .filter(df_item.content_type == 1)\
    .groupBy(df_item.title, df_item.year)\
    .count()\
    .filter(F.col('count') > 1)\
    .orderBy('count', ascending=False)\
    .show(1000)

In [ ]:
df_item\
    .filter(df_item.content_type == 1)\
    .groupBy(df_item.title, df_item.year)\
    .agg(F.collect_list("item_id"))\
    .show()

Как обработать дубликаты? Новая колонка item_id в которой указывать на один избранный дубликат

In [15]:
duplicate_ids = df_item\
    .groupBy(df_item.title, df_item.year)\
    .agg(F.collect_list('item_id').alias('ids'))\
    .select('ids')\
    .filter(F.size(F.col('ids')) > 1)\
    .collect()
cor_ids = {}
for ids in [row.ids for row in duplicate_ids]:
    for iids in ids[1:]:
        cor_ids[iids] = ids[0]
cor_ids

{73127: 74553,
 81780: 88771,
 89028: 93990,
 95092: 87546,
 99871: 77371,
 2136: 80900,
 78010: 96254,
 92932: 82802,
 10959: 88986,
 10664: 66595,
 66187: 83484,
 74294: 2632,
 87900: 9941,
 93683: 100203,
 88648: 89253,
 87890: 5103,
 94041: 1599,
 73309: 74646,
 82784: 7607,
 82289: 10339,
 78269: 67828,
 77835: 90775,
 72699: 88559,
 8636: 74620,
 88547: 94651,
 82306: 3083,
 99849: 77934,
 101602: 77934,
 98101: 102640,
 8586: 99122,
 99329: 8679,
 78082: 8679,
 101615: 8679,
 103931: 97271,
 93748: 100029,
 10320: 66442,
 89993: 74342,
 89022: 79862,
 74322: 9866,
 72858: 86729,
 10079: 77409,
 9861: 94192,
 101471: 9130,
 100217: 83568,
 8252: 67007,
 72845: 99785,
 77825: 98704,
 7393: 94846,
 10128: 74443,
 79844: 67397,
 88989: 88773,
 85991: 86876,
 74605: 540,
 78976: 98737,
 66399: 83512,
 73310: 74379,
 74805: 74115,
 3755: 73739,
 88886: 85740,
 99962: 85740,
 10031: 74523,
 9855: 95051,
 74380: 3408,
 95015: 89014,
 80895: 8634,
 79412: 92393,
 92357: 4603,
 66585: 8224,
 98670: 2343,
 77802: 2343,
 94742: 73378,
 74407: 9971,
 93064: 94781,
 74333: 11471,
 77716: 9706,
 66997: 65908,
 9462: 92081,
 87903: 8643,
 72073: 101842,
 100229: 101842,
 5576: 101842,
 103589: 101842,
 83732: 93061,
 92657: 94773,
 87889: 5530,
 67052: 79831,
 89633: 77438,
 95012: 74472,
 74359: 11023,
 66555: 72718,
 9139: 95187,
 77867: 100226,
 102141: 10927,
 74272: 10130,
 82357: 93564,
 79409: 92352,
 98228: 92352,
 78160: 89044,
 73190: 92862,
 11478: 74647,
 89049: 10517,
 103812: 99509,
 77583: 99509,
 92937: 75704,
 84449: 95953,
 79891: 95953,
 89064: 3895,
 71600: 1685,
 9555: 73516,
 78113: 88803,
 74678: 10002,
 89109: 3188,
 103371: 93719,
 99790: 71570,
 78686: 83529,
 72225: 98684,
 5859: 84289,
 90009: 9832,
 98975: 88982,
 77684: 88982,
 102441: 88982,
 10521: 74292,
 102444: 74249,
 83487: 93463,
 11494: 81844,
 99483: 102447,
 9129: 74402,
 99840: 101992,
 77924: 101992,
 9737: 101992,
 88651: 11025,
 99558: 3703,
 85990: 86860,
 74779: 10327,
 66175: 95188,
 78268: 74512,
 77931: 99845,
 94689: 92533,
 71653: 103762,
 72902: 103762,
 92858: 72732,
 94098: 66405,
 103235: 102431,
 89678: 10531,
 7648: 76701,
 74597: 4995,
 430: 94648,
 71588: 99806,
 79415: 92540,
 101038: 72551,
 3724: 74435,
 74363: 102296,
 100443: 74457,
 78559: 92800,
 73344: 89667,
 101487: 99305,
 72625: 99305,
 102002: 99305,
 73731: 763,
 78281: 74532,
 10091: 88999,
 95940: 92361,
 102588: 99980,
 78116: 99980,
 74495: 8379,
 97127: 73389,
 5767: 74412,
 95020: 95151,
 66822: 72900,
 78272: 94046,
 74431: 5583,
 7577: 86404,
 67746: 10845,
 86846: 80891,
 5299: 89258,
 74377: 89258,
 10419: 74341,
 86052: 100504,
 88797: 99971,
 78114: 99971,
 71942: 97979,
 9705: 97979,
 2696: 91231,
 77789: 98592,
 3305: 98592,
 88973: 98592,
 101509: 11068,
 102641: 98213,
 89104: 98213,
 11484: 95009,
 87311: 95009,
 84402: 93999,
 9073: 74306,
 94764: 79407,
 74579: 9589,
 100212: 93709,
 93667: 88807,
 93563: 88807,
 683: 94016,
 802: 66684,
 84497: 92923,
 79461: 92425,
 88994: 83207,
 4975: 74510,
 88940: 88546,
 86402: 10574,
 95470: 92916,
 10844: 92890,
 90010: 10298,
 10526: 74542,
 98511: 104152,
 102616: 104152,
 90762: 88794,
 88898: 88794,
 93039: 79450,
 89660: 9847,
 3159: 66680,
 86547: 99986,
 1867: 74960,
 74271: 95010,
 11026: 74555,
 2990: 89000,
 100419: 82811,
 88990: 2967,
 7194: 84238,
 11516: 87886,
 89008: 79851,
 7098: 94134,
 73599: 3692,
 101587: 86214,
 91262: 93493,
 75469: 93558,
 98736: 66852,
 9738: 66852,
 94666: 91251,
 75094: 10382,
 4033: 66827,
 91286: 88706,
 88596: 88706,
 89263: 400,
 101870: 71974,
 8664: 71974,
 102753: 99946,
 336: 67864,
 93484: 74827,
 92649: 79400,
 102089: 102651,
 8496: 88960,
 94686: 79893,
 93576: 88538,
 74278: 10662,
 74677: 79857,
 86001: 93621,
 98178: 72090,
 7444: 91498,
 3176: 74316,
 93583: 74527,
 77747: 99925,
 98274: 99471,
 3751: 67515,
 66870: 100382,
 357: 66915,
 9634: 74668,
 9389: 74668,
 89638: 74225,
 72325: 98563,
 10318: 74535,
 88556: 79828,
 88808: 93671,
 74473: 9069,
 88961: 98673,
 781: 98673,
 72214: 98673,
 88237: 9544,
 84236: 88899,
 94687: 88899,
 100834: 7501,
 77472: 7501,
 72327: 98565,
 101423: 98565,
 103299: 98565,
 71794: 72926,
 87836: 88865,
 94243: 89681,
 74284: 11518,
 1320: 74581,
 72413: 99844,
 8628: 98970,
 10326: 66623,
 102126: 100779,
 96398: 100779,
 77442: 100779,
 75207: 73429,
 100448: 87168,
 8599: 80432,
 66622: 73229,
 72972: 74689,
 74544: 79837,
 66594: 11232,
 66454: 93465,
 74438: 9833,
 95073: 93616,
 99833: 77917,
 91953: 4209,
 101946: 8587,
 72394: 8587,
 99834: 8587,
 81856: 88823,
 79841: 74561,
 10372: 91225,
 75152: 91225,
 99967: 77973,
 78570: 9640,
 99991: 87728,
 9817: 2405,
 66447: 11011,
 100112: 89992,
 2855: 66763,
 10340: 74490,
 66871: 5193,
 94614: 2072,
 83698: 91424,
 100571: 93550,
 98664: 728,
 79859: 74938,
 74908: 88775,
 88772: 95074,
 95062: 87729,
 82318: 94618,
 948: 94618,
 10646: 74348,
 73304: 94996,
 75071: 94669,
 77347: 99720,
 78026: 102595,
 99527: 102595,
 77938: 99852,
 66663: 3711,
 99775: 8585,
 77353: 99730,
 98402: 99730,
 99522: 104016,
 72760: 98891,
 75015: 9570,
 99750: 71532,
 82299: 9758,
 10045: 85986,
 68477: 10682,
 2313: 66577,
 9812: 81842,
 4977: 74440,
 74575: 592,
 101647: 94507,
 5682: 74433,
 91304: 93469,
 88705: 93666,
 90763: 93666,
 101665: 93744,
 102099: 93744,
 93539: 93744,
 98505: 93744,
 92905: 84266,
 88893: 84266,
 94112: 92523,
 91199: 85995,
 99693: 77785,
 10778: 82286,
 752: 80905,
 86748: 2093,
 5493: 74720,
 75552: 66215,
 94661: 79826,
 79773: 11482,
 94634: 11482,
 76481: 7611,
 66630: 5117,
 7113: 66914,
 88811: 88972,
 95279: 87175,
 92871: 100478,
 66426: 82874,
 10564: 82352,
 88768: 93575,
 91960: 93575,
 99978: 101620,
 7496: 87165,
 94699: 91332,
 99793: 72946,
 93529: 93739,
 66434: 84365,
 97440: 86212,
 74109: 92836,
 94642: 81409,
 71822: 99508,
 98895: 72895,
 101832: 72087,
 74274: 11060,
 85490: 99770,
 99947: 102080,
 66863: 10450,
 66671: 4949,
 88805: 88963,
 10296: 74890,
 77715: 98147,
 9708: 98147,
 74491: 9068,
 98743: 73217,
 99843: 88795,
 94608: 79901,
 73381: 88638,
 88970: 72324,
 102966: 72324,
 98562: 72324,
 6111: 72324,
 86743: 95014,
 80854: 98191,
 102657: 98191,
 102095: 98191,
 5660: 10385,
 66457: 10385,
 79876: 89001,
 11375: 90003,
 74526: 1525,
 79873: 95856,
 95054: 99990,
 99979: 98474,
 91813: 98474,
 99920: 72102,
 11002: 74275,
 79476: 92538,
 79883: 74511,
 102699: 77470,
 71944: 97982,
 100429: 74536,
 74630: 9838,
 72987: 66467,
 7677: 82780,
 78118: 79039,
 99982: 79039,
 95004: 94705,
 85657: 94705,
 79840: 94771,
 936: 74318,
 74834: 10025,
 88769: 100500,
 82770: 93487,
 79899: 88532,
 89018: 73041,
 74497: 5451,
 74350: 4945,
 10054: 77490,
 66462: 72927,
 81845: 3750,
 5359: 67192,
 80416: 5162,
 100412: 74559,
 100392: 751,
 88945: 89016,
 10824: 74569,
 9380: 75510,
 8633: 75510,
 8661: 100865,
 72481: 100865,
 8652: 83513,
 79887: 67831,
 74528: 9871,
 79455: 92500,
 94784: 7300,
 74373: 3686,
 92823: 89430,
 91280: 73771,
 88894: 73771,
 71830: 10926,
 79460: 92409,
 74390: 65906,
 94834: 92669,
 100116: 94641,
 77579: 99503,
 93121: 80260,
 72925: 66513,
 99862: 7569,
 100484: 88652,
 7584: 77431,
 99803: 77431,
 92356: 79453,
 97298: 80435,
 86000: 95033,
 11487: 95033,
 4967: 66858,
 98672: 93716,
 74757: 74113,
 73046: 89055,
 73368: 84927,
 79026: 86740,
 67144: 4946,
 98054: 84639,
 88896: 67318,
 77890: 98546,
 754: 74687,
 10539: 91194,
 93668: 93544,
 95011: 66557,
 11509: 82285,
 99301: 86241,
 82734: 93461,
 74270: 11059,
 98049: 77690,
 98988: 77690,
 11513: 77795,
 98660: 77795,
 101976: 77795,
 79848: 83551,
 97938: 93470,
 99682: 77781,
 66675: 9919,
 10599: 89017,
 66500: 5768,
 100840: 77513,
 11099: 77513,
 74644: 9683,
 92446: 79399,
 77525: 72929,
 79827: 94623,
 80894: 4958,
 88243: 7654,
 9253: 88552,
 94684: 9985,
 10408: 89007,
 88988: 10471,
 92028: 9348,
 79444: 69985,
 66896: 89261,
 88661: 8230,
 83585: 7575,
 73659: 5681,
 66928: 2058,
 9138: 95254,
 73179: 87551,
 87167: 100496,
 2999: 75146,
 10087: 66455,
 74633: 11014,
 100434: 87523,
 66218: 94619,
 74295: 72979,
 98225: 93743,
 101958: 88965,
 77779: 88965,
 11495: 88965,
 101042: 72479,
 82243: 79897,
 11191: 78587,
 72387: 7749,
 99828: 7749,
 10205: 7749,
 74293: 72931,
 101646: 78117,
 99981: 78117,
 75235: 9593,
 100152: 89425,
 93993: 89425,
 88980: 99688,
 78683: 99549,
 79473: 92360,
 10584: 66561,
 88997: 79833,
 82724: 11005,
 4953: 74385,
 66603: 678,
 81864: 94004,
 9471: 94751,
 8654: 94002,
 93594: 98722,
 91978: 100218,
 9622: 94776,
 11104: 72329,
 98567: 72329,
 94148: 92032,
 95029: 86875,
 95183: 86875,
 92542: 94676,
 69098: 7746,
 102395: 98971,
 101822: 98971,
 8658: 98971,
 77679: 98971,
 74273: 10303,
 9864: 66440,
 11187: 98682,
 82345: 4968,
 73403: 87914,
 99963: 88976,
 82358: 94037,
 5029: 94037,
 87940: 90493,
 10488: 74420,
 72328: 11106,
 93588: 73320,
 2027: 74411,
 3314: 74839,
 99703: 77333,
 74652: 1159,
 94896: 93142,
 94045: 73250,
 66184: 67098,
 99524: 78024,
 11196: 78024,
 83483: 3823,
 89032: 79894,
 73159: 98744,
 99935: 5462,
 74730: 11510,
 88991: 95000,
 73326: 98982,
 83706: 7668,
 73421: 75358,
 7476: 99705,
 77335: 99705,
 91217: 8341,
 90019: 10524,
 86738: 10475,
 66658: 3182,
 72930: 74391,
 77436: 10069,
 102359: 10069,
 99811: 10069,
 83570: 94085,
 66188: 74339,
 75099: 92850,
 10355: 66533,
 94001: 90006,
 81398: 595,
 10700: 73524,
 102723: 71512,
 74611: 5524,
 79477: 92486,
 76225: 7169,
 92374: 79465,
 100199: 94789,
 84215: 7604,
 11508: 82725,
 92920: 72761,
 80902: 2364,
 98231: 92884,
 72192: 98593,
 10734: 98593,
 98174: 77732,
 4994: 87160,
 74296: 11501,
 74733: 94610}

In [ ]:
df_item.filter(df_item.title.like('%old')).select(df_item.title).show(8)

In [16]:
_ids = [9055, 100248, 9721, 100247]

for _id in _ids:
    if _id in cor_ids:
        print('Лажа')
        break

# американская история ужасов old
cor_ids[9055] = 100248
# карточный домик old
cor_ids[9721] = 100247

 Проверить на равенство жанров коррелирующие id

# Очень неоптимизированный код

In [ ]:
not_equal_genres_cor_ids = [id_ for id_ in cor_ids if df_item[df_item.item_id == id_][[df_item.genres]].collect() != df_item[df_item.item_id == cor_ids[id_]][[df_item.genres]].collect()]
not_equal_genres_cor_ids

In [ ]:
len(not_equal_genres_cor_ids), len(cor_ids)

У двух третей дубликатов разные жанры, здесь можно потом будет что-нибудь придумать, чтобы увеличить AUC ROC, пока лень

### Заполняем пробелы в жанрах

Создадим отдельный датафрейм, в котором руками укажем жанры для итемов, потом left join новая колонка, после when(F.isnull(df.genres), df.new_col).otherwise(df.genres)

In [ ]:
genres = set()
for row in df_item.select(F.split(df_item.genres, ',').alias('words')).collect():
    if row.words != None:
        for word in row.words:
            genres.add(word)
genres

In [ ]:
missing_genres = [
 (6151, 'Триллер,Драма,Криминал,Детективы,Сериалы,Зарубежные'),   #2011.0, title='родина'),
 (9055, 'Ужасы,Фантастика,Триллер,Драма,Сериалы,Зарубежные'),   #2011.0, title='американская история ужасов old'),
 (9059, 'Боевик,Триллер,Драма,Криминал,Детектив,Сериалы,Зарубежные'),   #2013.0, title='банши'),
 (9062, 'Комедия,Сериалы,Зарубежные'),   #2012.0, title='вице-президент'),
 (9064, 'Детективы,Криминал,Триллер,Драма,Сериалы,Зарубежные'),   #2014.0, title='настоящий детектив'),
 (9180, 'Фантастика,Драма,Боевик,Мелодрама,Приключения,Сериалы,Зарубежные'),   #2011.0, title='игра престолов'),
 (9632, 'Комедия,Сериалы,Зарубежные'),   #2014.0, title='силиконовая долина'),
 (9667, 'Драма,Криминал,Сериалы,Зарубежные'),   #2013.0, title='рэй донован'),
 (9668, 'Драма,Исторический,Сериалы,Зарубежные'),   #2015.0, title='покажите мне героя'),
 (9699, 'Драма,Музыкальные,Сериалы,Зарубежные'),   #2016.0, title='винил'),
 (9717, 'Драма,Исторический,Сериалы,Зарубежные'),   #2014.0, title='больница никербокер'),
 (9720, 'Боевик,Драма,Приключения,Сериалы,Зарубежные'),   #2014.0, title='черные паруса'),
 (9721, 'Драма,Сериалы,Зарубежные'),   #2013.0, title='карточный домик old'),
 (9817, 'Фантастика,Драма,Детективы,Сериалы,Зарубежные'),   #2014.0, title='оставленные'),
 (9819, 'Мультфильм,Комедия,Сериалы,Зарубежные'),   #2016.0, title='звери'),
 (9821, 'Драма,Сериалы,Зарубежные'),   #2015.0, title='плоть и кости'),
 (9896, 'Драма,Сериалы,Зарубежные'),   #2016.0, title='девушка по вызову'),
 (9897, 'Драма,Мелодрама,Комедия,Сериалы,Зарубежные'),   #2015.0, title='вместе'),
 (9898, 'Драма,Музыкальные,Сериалы,Зарубежные'),   #2015.0, title='империя'),
 (9914, 'Драма,Криминал,Сериалы,Зарубежные'),   #1999.0, title='клан сопрано'),
 (10205, 'Триллер,Криминал,Драма,Сериалы,Наши'),  #2015.0, title='метод'),
 (10208, 'Триллер,Криминал,Детективы,Сериалы,Зарубежные'),  #2011.0, title='мост'),
 (94973, 'Эротика'),  #2016.0, title='бруклин ли. дневник нимфоманки'),
 (94974, 'Эротика'),  #2016.0, title='душевные страсти'),
 (94976, 'Эротика'),  #2016.0, title='лисы в курятнике'),
 (94977, 'Эротика'),  #2015.0, title='новичкам везет (часть 1)'),
 (94979, 'Эротика'),  #2015.0, title='знает кошка, чью сметану съела'),
 (94975, 'Эротика'),  #2015.0, title='гламурный хардкор 3'),
 (94978, 'Эротика'),  #2016.0, title='сладкая помада'),
 (94988, 'Эротика'),  #2015.0, title='новичкам везет (часть 2)'),
 (100247, 'Драма,Сериалы,Зарубежные'), #2013.0, title='карточный домик'),
 (100248, 'Ужасы,Фантастика,Триллер,Драма,Сериалы,Зарубежные'), #2011.0, title='американская история ужасов'),
 (103377, 'Мультфильм,Короткометражки,Зарубежные'), #None, title='big buck bunny 1080p')
]

In [ ]:
df_mis_genres = spark.sparkContext.parallelize(missing_genres).toDF()\
    .select(F.col('_1').alias('item_id'), F.col('_2').alias('mis_genres'))
df_mis_genres.printSchema()

### Итемы Шаг 1. Приклеиваем доп колонкой отсутствующие жанры

In [ ]:
df_1 = df_item.join(df_mis_genres, on='item_id', how='leftouter').coalesce(6)

In [ ]:
df_1.printSchema()

### Итемы Шаг 2. merge genres and mis_genres

In [ ]:
df_2 = df_1.withColumn('genres_nn', F.coalesce(df_1.genres, df_1.mis_genres))
df_2.printSchema()

In [ ]:
df_2.filter(df_2.item_id.isin([9062,65667,9064]))\
    .select('item_id', 'genres', 'mis_genres', 'genres_nn')\
    .show(3, True, True)

### Итемы Шаг 3. Сплитим жанры в массив

In [ ]:
df_3 = df_2.withColumn("genres_arr", F.split(df_2.genres_nn, ','))

### Итемы Шаг 4. Коллапсируем синонимы жанров

In [ ]:
replace_dict = {}

In [ ]:
replace_dict[' сказка'] = 'Сказки'
replace_dict['Комедии'] = 'Комедия'
replace_dict['Арт-хаус'] = 'Артхаус'
replace_dict['Анимация'] = 'Мультфильм'
replace_dict['Боевики'] = 'Боевик'
replace_dict['Военные'] = 'Военный'
replace_dict['Детские песни'] = 'Детские'
replace_dict['Для самых маленьких'] = 'Детские'
replace_dict['Для детей'] = 'Детские'
replace_dict['Документальные'] = 'Документальный'
replace_dict['Драма'] = 'Драмы'
replace_dict['Детективы'] = 'Детектив'
replace_dict['Западные мультфильмы'] = 'Мультфильм'
replace_dict['Исторические'] = 'Исторический'
replace_dict['Комедии'] = 'Комедия'
replace_dict['Короткометражки'] = 'Короткометражные'
replace_dict['Мелодрама'] = 'Мелодрамы'
replace_dict['Музыкальные'] = 'Музыкальный'
replace_dict['Мультсериалы'] = 'Мультфильм'
replace_dict['Мультфильмы'] = 'Мультфильм'
replace_dict['Мультфильмы в 3D'] = 'Мультфильм'
replace_dict['Приключение'] = 'Приключения'
replace_dict['Наши'] = 'Русские'
replace_dict['Русские мультфильмы'] = 'Мультфильм'
replace_dict['Семейные'] = 'Семейный'
replace_dict['Советские'] = 'Русские'
replace_dict['Советское кино'] = 'Русские'
replace_dict['Союзмультфильм'] = 'Мультфильм'
replace_dict['Спорт'] = 'Спортивные'
replace_dict['Триллер'] = 'Триллеры'
replace_dict['Фантастика'] = 'Фантастические'
replace_dict['Фильмы в 3D'] = 'Фильмы'
replace_dict['Фэнтези'] = 'Фантастические'
replace_dict['Юмористические'] = 'Комедия'

In [ ]:
replace_dict_br = spark.sparkContext.broadcast(replace_dict)

In [ ]:
df_4 = df_3.withColumn('genres_arr_colapsed', F.pandas_udf(lambda series: series.apply(lambda arr: [replace_dict_br.value[word] if word in replace_dict_br.value else word for word in arr]), ArrayType(StringType()), F.PandasUDFType.SCALAR)(F.col('genres_arr')))

### Итемы Шаг 5. Подсчитываем количество вхождений слов в массив

In [ ]:
from pyspark.ml.feature import CountVectorizer

In [ ]:
count_vectorizer = CountVectorizer(inputCol="genres_arr_colapsed",
                                   outputCol="genre_vector",
                                   vocabSize=51, # Посчитал заранее
                                   binary=True # binary - потому что заменяли синонимы, вдруг там дублирование по ним есть
                                  )

In [ ]:
cv_model = count_vectorizer.fit(df_4)

In [ ]:
df_5 = cv_model.transform(df_4)

In [ ]:
sorted(cv_model.vocabulary)

### Хочу посчитать количество всех покупок по жанрам

In [ ]:
df_train.printSchema()
df_train.count(), df_train.filter(df_train.purchase == 1).count()

In [ ]:
df_train.filter(df_train.purchase == 1).select(df_train.user_id).distinct().count()

In [ ]:
df_train.select(df_train.user_id).distinct().count(), df_train.select(df_train.item_id).distinct().count()

In [ ]:
df_test.select(df_test.user_id).distinct().count(), df_test.select(df_test.item_id).distinct().count()

In [ ]:
df_test.count()

In [ ]:
print(1941 * 3704)
print(5032624 + 2156840)

Датасет - декартовое произведение юзеров и итемов

In [ ]:
# Количество итемов, которых кто-либо купил
df_train.filter(df_train.purchase == 1).select(df_train.item_id).distinct().count()

Подклеиваем инфу по жанрам к каждой покупке/не покупке

### Train Шаг 1. Вклеиваем инфу по итемам в train

In [ ]:
dft_1 = df_train.filter(df_train.purchase == 1)\
    .join(df_5.select('item_id', 'genre_vector'), on='item_id')\
    .coalesce(6)\
    .cache()

Мапа с информацией фильм, количество покупок

In [ ]:
df_item_count = dft_1\
    .rdd\
    .map(lambda row: (row.item_id, 1))\
    .reduceByKey(lambda x, y: x + y)\
    .toDF()\
    .select(F.col('_1').alias('item_id'), F.col('_2').alias('cnt'))

In [ ]:
df_item_count.count()

### Итемы Шаг 6: Приклеиваем инфу по количеству покупок к итемам

In [ ]:
df_6 = df_5.join(df_item_count, on='item_id', how='leftouter').coalesce(6)
df_6.printSchema()

### Итемы Шаг 7: cnt null -> 0

In [ ]:
df_7 = df_6.withColumn('cunt', F.coalesce(df_6.cnt, F.lit(0))) # cunt вместо count, потому что на count начинает ругаться
df_7.printSchema()

### Итемы Шаг 8: genre_vector * cunt

In [ ]:
df_8 = df_7.withColumn('weight_vec',
                       F.udf(
                           lambda vec, cnt: (vec.toArray().astype(int) * cnt).tolist(),
                           ArrayType(IntegerType())
                       )('genre_vector','cunt'))

In [ ]:
df_8.printSchema()

Вычисляем общий вектор покупок по жанрам

In [ ]:
import numpy as np

In [ ]:
common_vec = df_8.rdd\
    .map(lambda row: (1, row.weight_vec))\
    .reduceByKey(lambda x, y: np.array(x) + np.array(y))\
    .take(1)[0][1]
common_vec

In [ ]:
for genre, count in sorted(zip(cv_model.vocabulary, common_vec), key=lambda row: row[1])[::-1]:
    print(genre + ': ' + str(count))

С итемами разобарлись, я так думаю, теперь надо разобраться с юзверами

### Получаем стату по юзерам (сколько юзер купил каких жанров)

In [ ]:
dfu = dft_1.rdd.map(lambda row: (row.user_id, row.genre_vector.toArray().astype(int).tolist())).reduceByKey(lambda x, y: (np.array(x) + np.array(y)).tolist())\
    .toDF()\
    .select(F.col('_1').alias('user_id'), F.col('_2').alias('genre_cnt'))
dfu

In [ ]:
dfu.show(2, True, True)

### Сколько всего итемов купил каждый юзер

In [ ]:
dft_1.filter(dft_1.user_id == 754230).count()

In [ ]:
user_cnt = dft_1.select(dft_1.user_id, F.lit(1).alias('_1'))\
    .groupBy(dft_1.user_id)\
    .agg(F.count('_1').alias('cnt'))
dfu_1 = dfu.join(user_cnt, on='user_id')
dfu_1.count(), dfu.count()

In [ ]:
dfu_cnt0 = df_train.select(df_train.user_id)\
    .distinct()\
    .join(dfu_1.select(dfu_1.user_id), on='user_id', how="leftanti")\
    .coalesce(6)\
    .select('user_id', F.array([F.lit(0)] * len(cv_model.vocabulary)).alias('genre_cnt'), F.lit(0).alias('cnt'))

In [ ]:
dfu_cnt0.take(2)

###  Юзеры Шаг 2: объединяем платежников и халявщиков

In [ ]:
dfu_2 = dfu_1.union(dfu_cnt0)
dfu_2.printSchema()
dfu_2.count()

## Промежуточные итоги
dfu_2 - содержит инфу по юзерам, сколько каких жанров было куплено и общее количество купленных

df_8 - содержит инфу по итемам, сколько каких жанров было куплено и общее количество купленных

In [ ]:
dfri = F.broadcast(df_8.select(df_8.item_id, df_8.weight_vec.alias('ivec'), df_8.cunt.alias('icount')).cache())

In [ ]:
dfru = F.broadcast(dfu_2.select(dfu_2.user_id, dfu_2.genre_cnt.alias('uvec'), dfu_2.cnt.alias('ucount')).cache())

In [ ]:
dfri, dfru

## Попробуем намутить фичи

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import DenseVector

### Перемножим вектора юзеров и итемов по жанрам + общее количество юзеров и итемов

In [ ]:
dft = df_train.join(dfri, on='item_id')\
    .join(dfru, on='user_id')\
    .coalesce(6);

In [ ]:
dft

In [ ]:
from pyspark.ml.linalg import VectorUDT

In [ ]:
dft1 = dft.withColumn('mvec', F.udf(lambda ivec, uvec: DenseVector(np.array(ivec) * np.array(uvec)), VectorUDT())(dft.ivec, dft.uvec))
dft1

In [ ]:
dft2 = dft1.withColumn("mcount", dft1.icount * dft1.ucount)
dft2

In [ ]:
vecAssembler = VectorAssembler(inputCols=['mvec', 'mcount'], outputCol="features")

In [ ]:
dft3 = vecAssembler.transform(dft2)
dft3

In [ ]:
from pyspark.ml.classification import GBTClassifier

In [ ]:
gbtc = GBTClassifier(labelCol="purchase", maxIter=10)
gbtc_model = gbtc.fit(dft3)

In [ ]:
def transform(df):
    dft = df.join(dfri, on='item_id')\
    .join(dfru, on='user_id')\
    .coalesce(6);
    dft1 = dft.withColumn('mvec', F.udf(lambda ivec, uvec: DenseVector(np.array(ivec) * np.array(uvec)), VectorUDT())(dft.ivec, dft.uvec))
    dft2 = dft1.withColumn("mcount", dft1.icount * dft1.ucount)
    dft3 = vecAssembler.transform(dft2)
    return dft3

In [ ]:
# prediction
pred = gbtc.transform(transform(df_test)).cache()

In [ ]:
pred.show(5, True, True)

In [ ]:
pred.filter(pred.prediction > 0).count()

In [ ]:
row = pred.take(1)

In [ ]:
row

In [ ]:
pred_1 = pred.drop(pred.purchase)

In [ ]:
pred_1.printSchema()

In [ ]:
pred_2 = pred_1.withColumn('purchase', F.udf(lambda prob: float(prob[1]), FloatType())(pred_1.probability))

In [ ]:
res = pred_2.select(pred_2.user_id, pred_2.item_id, pred_2.purchase).orderBy(pred_2.user_id, pred_2.item_id)

In [ ]:
res.toPandas().to_csv('lab03.csv')

In [ ]:
!head -n 5 lab03.csv

# Пробуем намутить предсказания через ALS

## ALS Шаг 1: Схлопываем дубликаты по именам

In [17]:
df_train.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- purchase: integer (nullable = true)

In [18]:
@F.pandas_udf(IntegerType())
def replaceDuplicate(item_id_sr):
    return item_id_sr.apply(lambda item_id: cor_ids[item_id] if item_id in cor_ids else item_id)

In [19]:
df_train_1 = df_train.withColumn('item_id_nd', replaceDuplicate(df_train.item_id))

In [20]:
df_test_1 = df_test.withColumn('item_id_nd', replaceDuplicate(df_test.item_id))

# ALS Шаг 2: Делаем рейтинг из факта покупки

* 0 (не купил) - рейтинг 1
* 1 (купил) - рейтинг 10

In [24]:
df_train_2 = df_train_1.withColumn('rating', df_train_1.purchase * F.lit(9) + F.lit(1))

Можно сделать не константный рейтинг, а на основе частоты покупаемости итемов и покупательской способности юзера

In [21]:
from pyspark.sql.window import Window

In [50]:
window_item_id = Window.partitionBy("item_id_nd")
window_user_id = Window.partitionBy("user_id")

In [51]:
df_train_r = df_train_1.withColumn('r', 
                                   F.sum(df_train_1.purchase).over(window_item_id)
                                   / F.count(F.lit(1)).over(window_item_id)
                                   * F.sum(df_train_1.purchase).over(window_user_id)
                                   / F.count(F.lit(1)).over(window_user_id))

In [52]:
window_r = Window.orderBy('r')

In [53]:
df_train_nr = df_train_r.withColumn('nr', F.percent_rank().over(window_r))

Вместо percent_rank можно еще просто нормализацию сделать, посмотрим что тогда лучше себя покажет

In [60]:
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler

In [63]:
from pyspark.ml import Pipeline

In [68]:
assembler_r = VectorAssembler(inputCols=['r'],outputCol='r_arr')

In [69]:
scaler_r = MinMaxScaler(inputCol='r_arr', outputCol='scaled_r')

In [72]:
pipeline_r = Pipeline(stages=[assembler_r, scaler_r])

In [74]:
df_train_nr = pipeline_r.fit(df_train_r).transform(df_train_r).withColumn('nr', F.udf(lambda v: float(v[0]),FloatType())('scaled_r'))

In [75]:
df_train_2 = df_train_nr.withColumn('rating', F.lit(5.5) + F.lit(4.5) * (df_train_nr.purchase * df_train_nr.nr - (F.lit(1) - df_train_nr.purchase) * (F.lit(1) - df_train_nr.nr)))

In [ ]:
df_train_2.orderBy('rating', ascending=False).show()

# ALS Обучаем модель

In [76]:
from pyspark.ml.recommendation import ALS
als = ALS(
         userCol="user_id", 
         itemCol="item_id_nd",
         ratingCol="rating", 
         nonnegative = True, 
         implicitPrefs = False,
         coldStartStrategy="drop"
)

In [77]:
als_model = als.fit(df_train_2)

# ALS Делаем предсказания

In [78]:
predictions = als_model.transform(df_test_1)

In [ ]:
predictions.summary().show()

# ALS Нормализуем предсказания

In [79]:
assembler = VectorAssembler(inputCols=['prediction'],outputCol='prediction_arr')

In [80]:
scaler = MinMaxScaler(inputCol='prediction_arr', outputCol='scaled_prediction')

In [81]:
pipeline = Pipeline(stages=[assembler, scaler])

In [82]:
preds = pipeline.fit(predictions).transform(predictions)

In [83]:
result = preds.withColumn('purchase', F.udf(lambda v: float(v[0]),FloatType())(preds.scaled_prediction))\
    .select('user_id', 'item_id', 'purchase')\
    .orderBy('user_id', 'item_id')

In [84]:
result.toPandas().to_csv('lab03.csv')

In [85]:
spark.stop()

In [ ]:
import pickle
with open('gbtcmodel.pk', "wb") as f:
            pickle.dump(gbtc, f)

In [8]:
!hdfs dfs -copyToLocal lab05.csv/part-00000-98cefec9-508c-40f4-b366-3df2f52be2e1-c000.csv lab05.csv

In [7]:
!hdfs dfs -ls lab05.csv

Found 2 items
-rw-r--r--   3 dmitriy.kamaev dmitriy.kamaev          0 2022-11-02 15:36 lab05.csv/_SUCCESS
-rw-r--r--   3 dmitriy.kamaev dmitriy.kamaev    1190768 2022-11-02 15:36 lab05.csv/part-00000-98cefec9-508c-40f4-b366-3df2f52be2e1-c000.csv